* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: #fff;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.posts {
    width: 400px;
}

.post {
    width: 100%;
}