@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,500;1,500&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

.nav {
    width: 100%;
    background: #eee;
}

.nav ul {
    padding: 10px;
}

.nav ul li {
    display: inline-block;
    padding: 5px;
}

.nav ul p {
    padding: 5px;
    float: right;
}

li {
    list-style-type: none;
}
a {
    text-decoration: none;
}