{% extends 'base.html' %}

{% block content %}
<div class="container">
    <form method="GET">
        <div class="author-rasm">
            <a href="{% url 'profile' user.username %}"><img src="{{ user.rasm.url }}"></a>
            <p>{{ user.username }}</p>
        </div>
        {{ filter.form }}
        <input class="search" type="submit" value="submit" />
    </form>
    <div class="posts">
        {% for i in posts %}
            <div class="post">
                <h3>{{ i.title }}</h3>
                {% if i.file %}
                    <img src="{{ i.file.url }}" class="post-rasm"/>
                {% endif %}
                {% if i.author.rasm %}
                    <div class="author-rasm">
                        <a href="{% url 'profile' i.author.username %}"><img src="{{ i.author.rasm.url }}"></a>
                        <p class="post-info">{{ i.title }} by {{ i.author }} {{ i.created }}</p>
                    </div>
                {% endif %}
                <p class="post-text">{{ i.body }}</p>
                {% for x in i.category.all %}
                    <p class="category">{{ x.name }}</p>
                {% endfor %}
                <div class="btn-gr">
                    <a class="batafsil" href="{{ i.get_absolute_url }}">Batafsil</a>
                    {% if user == i.author %}
                        <a class="delete" href="{% url 'delete' i.id %}">Delete</a>
                    {% endif %}
                </div>
            </div>
            <br>
            <hr>
            <br>
        {% endfor %}
    </div>
</div>
{% endblock content %}